@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Londrina+Sketch&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Happy Monkey', cursive;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background: #18bcfd;
}

p {
    color: white;
    padding: 3px 0;
    font-size: large;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 760px;
    height: 760px;
}

.header {
    padding-top: 20px;
    color: white;
}

.menu {
    display: flex;
    gap: 53px;
    align-items: center;
}

.holder {
    display: flex;
    width: 760px;
    align-items: center;
    justify-content: space-between;
}

.holderTwo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    width: 590px;
}

.slide-container {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 560px;
    height: 25px;
    background: white;
    outline: none;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background-color: #18bcfd;
    cursor: pointer;
}


/* JS */
.boxStyle {
    background: white;
    flex-grow: 1;
}

.rowStyle {
    display: flex;
    flex-grow: 1;
}

button {
    cursor: pointer;
    border-style: none;
    width: 150px;
    height: 75px;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #18bcfd;
    background: white;
}

.btn-dimensions {
    height: 100px;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    filter: brightness(106%);
}

.boxStyle:hover {
    filter: brightness(120%);
}